img {
	width: 70%;
	height: 250px;
}
.card {
	border-radius: 20px;
	background-color: rgba(95, 158, 160, 0.76);
	height: 500px;
	overflow-y: hidden;
}
.card-text {
	font-size: 30px;
	color: brown;
}
.row-add-card .card {
	width: 70%;
	margin-bottom: 30px;
	margin-left: 10rem;
}
.hidden {
	visibility: hidden;
}
.main {
	display: flex;
	justify-content: space-evenly;
}
